<div class="event" {% if event.done %} style="background-color: #e8e8e8; color: #525252" {% else %} style="background-color: {{ event.category.backgroundColor ~ 'bb' }}; color: {{ event.category.color }}" {% endif %} event-id="{{ event.id }}">
	<div style="width: 100%;">
		<div class="header">
			<span class="assigned">
				{% if event.client != null %}
					{{ event.client.name }}
				{% else %}
					&nbsp;
				{% endif %}
			</span>
			<span {% if not event.done and event.priority != null %} class="priority" style="background-color: {{ event.priority.color }};" {% endif %}>
				&#x2800;
			</span>
		</div>
		<span class="time{% if (event.date <= date("now +2 hour")) and not event.done %} blink{% endif %}" {% if event.done %} style="color: #52525288" {% else %} style="color: {{ event.category.color ~ '88'}};" {% endif %}>
			{{ event.date|format_datetime("none", "short", locale="es") }}
		</span>
	</div>
	<span>
		<em>{{ event.title }}</em>
	</span>
</div>