<div id="client-info">
    {# Nombre #}
    <p class="editable-container">
        <b>Nombre</b> <br>
        <a class="editable-field" href="#" data-name="clientName" data-type="text" data-pk="{{ client.id }}"
           data-url="{{ path('client_update', {'id' : client.id }) }}"
           data-title="Ingresa el nombre">{{ client.name }}</a>
    </p>
    {# . #}
    <b class="field-title">Teléfono</b>
    {% for phone in client.getClientExtras(TYPE_PHONE) %}
        {# Teléfono #}
        <p class="m-0 phone-container row round" phone-id="{{ phone.id }}" phone-phone="{{ phone.value }}">

            {# Tipo de teléfono #}
            <a class="editable-field font-weight-bold col-md-2" href="#" data-name="clientPhoneLevel" data-type="select"
               data-pk="{{ phone.id }}" data-url="{{ path('client_update', {'id' : client.id }) }}"
               data-title="Ingresa tipo"
               data-source="[{'value':{{ LEVEL_WORK }}, 'text':'Trabajo'},{'value':{{ LEVEL_MOBILE }}, 'text':'Móvil'},{'value':{{ LEVEL_HOME }}, 'text':'Casa'}]"
               data-value="{{ phone.level }}"></a>

            {# . #}
            |
            {# número #}
            <span class="col">
                <a class="editable-field editable-clickable" href="tel:{{ phone.value }}" data-name="clientPhone"
                   data-type="text" data-pk="{{ phone.id }}" data-url="{{ path('client_update', {'id' : client.id }) }}"
                   data-title="Ingresa el teléfono">{{ phone.value }}</a>
            </span>
            {# . #}
            {% if not loop.first %}
                {# Eliminar #}

                <span class="col-md-1 text-right p-0">
                <button class="btn btn-sm btn-outline-dark border-0 trash-btn trash-phone float-right" style="display: none;"><i
                            class="fas fa-trash-alt"></i></button>
                </span>
                {# . #}
            {% endif %}
        </p>
        {# . #}
    {% endfor %}
    {# Teléfono extra #}
    {% include "view/client/extras/phone.html.twig" with {
        id : 'client-phone-extra-form'
    } %}
    {# . #}
    <b class="field-title">Correo</b>
    {% for email in client.getClientExtras(TYPE_MAIL) %}
        {# Correo #}
        <p class="m-0 email-container row round" email-id="{{ email.id }}" email-email="{{ email.value }}">
            <span class="col-md-11">
                <a class="editable-field editable-clickable" href="mailto:{{ email.value }}" data-name="clientEmail"
                   data-type="text" data-pk="{{ email.id }}" data-url="{{ path('client_update', {'id' : client.id }) }}"
                   data-title="Ingresa el correo">{{ email.value }}</a>
            </span>
            {% if not loop.first %}
                {# Eliminar #}
                <span class="col-md-1 text-right p-0">
                    <button class="btn btn-sm btn-outline-dark border-0 trash-btn trash-email float-right" style="display: none;"><i
                                class="fas fa-trash-alt"></i></button>
                </span>
                {# . #}
            {% endif %}
        </p>
        {# . #}
    {% endfor %}
    {% include "view/client/extras/email.html.twig" with {
        id : 'client-email-extra-form'
    } %}
</div>
