<div class="list-group list-group-flush">
    {% for log in infoLogs %}
        {% set badge %}
            <span class="badge badge-role
            {% if log.method == "GET" %}
            badge-success
            {% elseif log.method == "POST" %}
            badge-primary
            {% elseif log.method == "PUT" %}
            badge-warning
            {% elseif log.method == "PATCH" %}
            badge-warning
            {% elseif log.method == "DELETE" %}
            badge-danger
            {% else %}
            d-none
            {% endif %}
            badge-pill">{{ log.method }}</span>
        {% endset %}
        {% set rowClass %}
            {% if log.system %}
                bg-info text-white
            {% endif %}
        {% endset %}
        {% set infoFull %}
            {% include "view/logger/full/info.html.twig" with {
                entity : log
            } %}
        {% endset %}
        <a class="list-group-item list-group-item-action cursor-pointer {{ rowClass }}" href="#info-{{ log.id }}"
           data-toggle="collapse" aria-expanded=false aria-controls='#info-{{ log.id }}'>
            <div class="row">
                <div class="col text-left">{{ log.route }}</div>
                <div class="col text-center">{{ log.createdAt|format_datetime("medium", "none", locale="es") }}</div>
                <div class="col text-right">{{ badge }}</div>
            </div>
        </a>
        {{ infoFull }}
    {% endfor %}
</div>
