<nav class="navbar navbar-expand-lg navbar-light" style="z-index: 10">
    <a class="navbar-brand" href="{{ path("home_index") }}">Sistema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"><li></li></ul>
        <ul class="navbar-nav">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            {% if is_granted("IS_IMPERSONATOR") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("home_index", {'_switch_user': '_exit'}) }}">Desimpersonar</a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminMenu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Sistema
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminMenu">
                        <h6 class="dropdown-header">General</h6>
                        <a class="dropdown-item" href="{{ path("user_index") }}">Usuarios</a>
                        <h6 class="dropdown-header">Configuración</h6>
                        <a class="dropdown-item" href="{{ path("client_category_index") }}">Clientes</a>
                        <a class="dropdown-item" href="{{ path("schedule_category_index") }}">Tareas</a>
                        <a class="dropdown-item" href="{{ path("schedule_priority_index") }}">Prioridad</a>
                        {% if is_granted("ROLE_GOD") %}
                            <h6 class="dropdown-header">Development</h6>
                            <a class="dropdown-item" href="{{ path("logger_index") }}">Registro</a>
                        {% endif %}
                    </div>
                </li>
            {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path("schedule_index") }}">Tareas</a>
                </li>

            {% if is_granted("ROLE_TEST") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("client_index") }}">Clientes</a>
                </li>
            {% endif %}

            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileMenu" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileMenu">
                        <a class="dropdown-item" href="{{ path('user_profile') }}">Perfil</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Salir</a>
                    </div>
                </li>
            {% else %}
                {# Sólo mostrar si hay rutas públicas #}
                {#<li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Ingresar</a>
                </li> #}
            {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
