<h5 class="text-center">{{ monthName|capitalize }}</h5>
<div class="calendar">
	<div class="days">
		{% for day in week %}
			<div>
				<b>{{ day|slice(0, 1)|upper }}</b>
			</div>
		{% endfor %}
	</div>
	<div class="schedule">
		{% set dayy = 0 %}
		{% set rows = 1 %}
		<div class="schedule-row">
			{% for day in month %}
				{% if (loop.index != 1 ) and ((loop.index - 1) % 7 == 0) %}
					{% set dayy = loop.index %}
				</div>
				{% for i in 0.. 6 %}
					{% set index = dayy - 7 + i - first %}
					<div class="schedule-info" day="{{ index }}">
						{% include 'view/schedule/sumary.html.twig' with {
                            index: (index + first - 1)
                        } %}
					</div>
				{% endfor %}
				<div class="schedule-row">
					{% set rows = rows + 1 %}
				{% endif %}
				<div class="schedule-day {% if day.day == null %}disabled{% endif %}" day="{{ day.day }}">
					<div class="schedule-day-number">
						<div class="number {% if day.day != null %}active{% endif %}{% if (" now"|date(" d-m-Y")) == day.date %} today{% endif %}">{{ day.day }}</div>
						<div class="total">
							{% if day.events|length > 0 or day.eventrd|length > 0 %}
								{% set activeEvents = 0 %}
								{% for event in day.events %}
									{% if not event.done %}
										{% set activeEvents = activeEvents + 1 %}
									{% endif %}
								{% endfor %}
								{% for event in day.eventrd %}
										{% set activeEvents = activeEvents + 1 %}
								{% endfor %}
								{% if activeEvents > 0 %}
									<span class="events-length">{{ activeEvents }}</span>
								{% else %}
									<span>&nbsp;</span>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="schedule-content">
						{% if day.events|length > 0 or day.eventrd|length > 0 %}
							{% for event in day.events %}
								<span {% if event.done %} style="background-color: #e8e8e8; color: #525252" {% else %} style="background-color: {{ event.category.backgroundColor ~ 'bb' }}; color: {{ event.category.color }}" {% endif %}>
									{{ event.title }}
									{% if not event.done and event.priority != null %}
										<span class="priority" style="background-color: {{ event.priority.color }};">
											&#x2800;
										</span>
									{% endif %}
								</span>
							{% endfor %}
							{% for event in day.eventrd %}
									<span style="background-color: {{ event.category.backgroundColor ~ 'bb' }}; color: {{ event.category.color }}">
									{{ event.title }}
									{% if event.priority != null %}
										<span class="priority" style="background-color: {{ event.priority.color }};">
											&#x2800;
										</span>
									{% endif %}
								</span>
								{% endfor %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		{% for i in 0.. 6 %}
			<div class="schedule-info" day="{{ dayy + i - first }}">
				{% include 'view/schedule/sumary.html.twig' with {
            index: (dayy + i - 1)
        } %}
			</div>
		{% endfor %}
	</div>
</div>
