<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <p class="editable-container">
                <b>Usuario</b> <br>
                <a class="editable-field" href="#" data-name="username" data-type="text" data-pk="{{ user.id }}"
                   data-url="{{ path('user_update', {'id' : user.id }) }}"
                   data-title="Ingresa el usuario">{{ user.username }}</a>
            </p>
            <p class="editable-container">
                <b>Nombre</b> <br>
                <a class="editable-field" href="#" data-name="name" data-type="text" data-pk="{{ user.id }}"
                   data-url="{{ path('user_update', {'id' : user.id }) }}"
                   data-title="Ingresa el nombre">{{ user.name }}</a>
            </p>
        </div>
        <div class="col-md-6 border-left">
            <p class="editable-container">
                <b>Correo</b> <br>
                <a class="editable-field" href="#" data-name="email" data-type="text" data-pk="{{ user.id }}"
                   data-url="{{ path('user_update', {'id' : user.id }) }}"
                   data-title="Ingresa el correo">{{ user.mail }}</a>
            </p>
            {% if "ROLE_GOD" in user.roles %}
            {% else %}
                {% if user.id != app.user.id %}
                <p class="editable-container">
                    {% set roles = "" %}
                    {% for userrole in user.roles %}
                        {% set roles = roles ~ userrole  ~ ',' %}
                    {% endfor %}
                    <b>Puesto</b> <br>
                    {% set rolesToSelect = [
                        {value: 'ROLE_ADMIN',text: 'admin'},
                        {value: 'ROLE_COMMON',text: 'común'},
                        {value: 'ROLE_SUPERVISOR',text: 'supervisor'}
                    ] %}
                    <a class="editable-field" href="#" data-name="roles" data-type="checklist" data-pk="{{ user.id }}"
                       data-url="{{ path('user_update', {'id' : user.id }) }}" data-title="Ingresa los roles"
                       data-source="{{ rolesToSelect|json_encode() }}" data-value="{{ roles }}">
                    </a>
                </p>
                {% else %}
                    <b class="field-title">Puesto</b> <br>
                    {% for role in user.roles %}
                        {% if role != "ROLE_USER" %}
                            <span class="btn btn-sm2 alert-info cursor-normal">{{ role|slice(5, role|length) }}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <div id="user-edit-control" class="mt-2">
                <button id="user-edit-active" class="btn round btn-warning w-100" active="0">Editar</button>
            </div>
        </div>
    </div>
</div>
