<div class="card-body">
	<div class="row">
		<div class="col-md-6">
			{% if task.client != null %}
				<p>
					<b>Cliente</b>
					<br>
					<button id="openClientInfo" class="btn btn-sm btn-link p-0 m-0" client-id="{{ task.client.id }}">{{ task.client.name }}</button>
				</p>
			{% endif %}
			<p>
				<b>Tarea</b>
				<br>
				{{ task.title }}
			</p>
            <p>
				<b>Detalle</b>
				<br>
				{{ task.detail }}
			</p>
		</div>
		<div class="col-md-6">
			<b>Responsable</b>
			<br>
			<div class="task-hover-row">
				{% if task.assigned != null %}
					<em>{{ task.assigned.name }}</em>
					{% if app.user.id == task.createdBy.id or is_granted("ROLE_SUPERVISOR") %}
						<button class="btn btn-sm btn-outline-danger border-0 round float-right" style="transform: translate(2px, -2px);" data-toggle="tooltip" data-placement="top" title="Reasignar" id="taskReassign">
							<i class="fas fa-user"></i>
						</button>
					{% endif %}
				{% else %}
					<em>Sin asignar</em>
					{% if app.user.id == task.createdBy.id or is_granted("ROLE_SUPERVISOR") %}
						<button class="btn btn-sm btn-outline-primary border-0 round float-right" style="transform: translate(2px, -2px);" data-toggle="tooltip" data-placement="top" title="Asignar" id="taskAssign">
							<i class="fas fa-user"></i>
						</button>
					{% endif %}
				{% endif %}
			</div>
			<p>
				<b>Categoría</b>
				<br>
				<span class="color-pill" style="background-color: {{ task.category.backgroundColor }}">&nbsp;</span>
				{{ task.category.name }}
			</p>
			{% if task.priority != null %}
				{# <p> #}
				<b>Prioridad</b>
				<br>
				<div class="task-hover-row">
					<span class="color-pill" style="background-color: {{ task.priority.color }}">&nbsp;</span>
					{{ task.priority.name }}
					{% if app.user.id == task.createdBy.id or is_granted("ROLE_SUPERVISOR") %}
						<button class="btn btn-sm btn-outline-danger border-0 round float-right" style="transform: translate(2px, -2px);" data-toggle="tooltip" data-placement="top" title="Cambiar prioridad" id="taskChangePriority">
							<i class="fas fa-pen"></i>
						</button>
					{% endif %}
				</div>
				{# </p> #}
			{% endif  %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-10 text-muted">
			<small><em><b>Finalizar</b> marca la fecha de hoy, no la del día seleccionado.</em></small>
		</div>
		<div class="col-md-2 text-right">
			{% if task.endDate != null %}
				<button type="button" id="taskFinish" class="btn btn-antxony round">Finalizar</button>
			{% endif %}
		</div>
	</div>
</div>
{% include "view/footer/datetimes.html.twig" with {
    created : {
        name : task.createdBy.name,
        time : task.createdAt
    },
    updated : {
        name : task.updatedBy.name,
        time : task.updatedAt
    }
} %}
